
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.has-error {
	background-color:#ffffff;
	padding: 9px;
    border-radius: 3px;
    border: 1px solid #b90000;
	margin-bottom: 20px;
    ul {
    	margin-bottom:0;
    }
}

.store-section{
	margin-bottom: 10px;
}

.inline-brands {
	margin: 0 10px;
}

.location-box{
	max-height: 50vh;
	overflow: auto;
}
.store-box {
	max-height: 70vh;
	overflow: auto;
}

.icon-logo{
	max-width: 75px;
}

.store-list-container
{
	.list-group {
		margin-bottom:0;
	}

	.well.new-item {
		background-color:#dff0d8;
	}
	
}

.bottom-spacer {
	margin-bottom:20px;
}

.form-location{
	margin-bottom:20px;
}

.list-group-item {
	background-color: #e4e4e4;
	border: 1px solid #a3aeb5;
	&.selected {
		background-color: #ffffff;
	}
}

.brand-warning{
	padding:10px;
}

.footer-spacer{
	margin-bottom: 40px;
}

.location-item {
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.float-btn {
		position: fixed;
	    z-index: 99999;
	    bottom: 0;
	    right: 0;
	    width:100%;
	}


@media (min-width: 768px) {

	 .form-inline .ulrbox-item {
	    width: 500px;
	}

	.float-btn {
		position: fixed;
	    z-index: 99999;
	    bottom: 20px;
	    right: 0;
	    width:auto;
	}

}



